frontend/node_modules/
frontend/.next/
frontend/out/
frontend/.env*.local

backend/__pycache__/
backend/*.pyc
backend/.env
backend/uploads/*
backend/models/*.pkl


!backend/models/logistic_model.pkl
!backend/models/tfidf_vectorizer.pkl

.DS_Store
Thumbs.db
.vscode/
.idea/
ca.pem